* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color: #780000;
}

body {
    height: 100vh;
    background-image: url("/img/16101_generated.jpg");
    background-repeat: no-repeat;
    background-position: 0 100px;
    overflow: hidden;
    font-family: arial;
}

header {
    position: fixed;
    top: 10px;
    left: 0;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* 
header .navbar {
    transition: .3s linear;
} */

header .navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    width: 600px;
    justify-content: space-around;
    margin: auto;
}

header .navbar ul li {
    font-size: 18px;
}

header .navbar ul li:hover {
    color: var(--color);
    cursor: pointer;
}

header .logo{
    display: flex;
    align-items: center;
}

header .logo > img {
    height: 50px;
    margin: 0 10px;
}

input {
    display: none;
}

label {
    z-index: 2;
    position: absolute;
    top: 30px;
    right: 10px;
    cursor: pointer;
    display: none;
}

label span {
    display: block;
    height: 3px;
    width: 30px;
    background-color: var(--color);
    margin: 5px 0;
    transition: .3s;
}

label span:nth-child(1) {
    margin-left: 20px;
}

label span:nth-child(2) {
    width: 50px;
}

#toggle:checked ~ label > span:nth-child(1) {
    background-color: #fff;
    transform: rotateZ(45deg);
    width: 30px;
    margin-top: 10px;
}

#toggle:checked ~ label > span:nth-child(2) {
    background-color: #fff;
    transform: rotateZ(-45deg);
    width: 30px;
    margin-top: -8px;
    margin-left: 19px;
}

#toggle:checked ~ header .navbar{
    left: 0;
}

.container {
    margin: 100px auto;
}

.container .content {
    position: relative;
}

.container .content .info {
    position: absolute;
    top: 100px;
    left: 160px;
    width: 500px;
    text-align: justify;
}

.container .content .info h1 {
    font-size: 70px;
    color: black;
}

.container .content .info p {
    color: black;
    font-size: 14px;
}

.container .content .info button {
    height: 45px;
    width: 150px;
    background-color: var(--color);
    outline: none;
    border: none;
    margin-top: 20px;
}

.container .content .info button:hover {
    opacity: .7;
    transition: .2s;
    cursor: pointer;
}

.container .content .info button a {
    text-decoration: none;
    color: white;
}

.container .content image > img {
    height: 400px;
    width: 600px;
    float: right;
}

.icons {
    position: fixed;
    display: flex;
    flex-flow: column wrap;
    top: 40%;
    left: 15px;
}

.icons i{
    font-size: 25px;
    margin-top: 10px;
}

.icons i:hover {
    color: var(--color);
    cursor: pointer;
}

@media (max-width:1250px) {
    .container .content .info p{
        padding-right: 150px;

    }
}

@media (max-width:1100px) {
    .container .content image > img {
        height: 350px;
        width: 500px;
    }
}

@media (max-width:987px) {

    .container .content image > img {
        display: none;
    }

    label {
        display: block;
    }

    header .navbar{
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 100%;
        background-color: var(--color);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header .navbar ul{
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column wrap;
    }

    header .navbar ul li{
        margin: 10px 0;
        font-size: 40px;
        color: #fff;
    }

    header .navbar ul li:hover {
        background-color: #fff;
        border-radius: 50px;
        padding: 0 50px;
        transition: .3s;
    }

    .container .content .info {
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }

    .container .content .info p{
        padding: 0;
    }

    header {
        z-index: 1;
        justify-content: center;
    }
}

@media (max-width:650px) {
    .container .content .info {
        width: 450px;
    }

    .container .content .info p{
        padding: 0 20px;
    }
}

@media (max-width:470px) {
    .container .content .info {
        width: 400px;
    }

    header {
        justify-content: flex-start;
    }

    .icons{
        top: 450px;
        left: 50%;
        transform: translateX(-50%);
        flex-flow: row wrap;
    }

    .icons i{
        margin: 0 10px;
    }
}


@media (max-width:380px) {
    .container .content .info {
        width: 250px;
    }

    .container .content .info h1 {
        font-size: 50px;
    }

    .icons {
        width: 200px;
    }

    header .logo h2 {
        font-size: 15px;
    }

    header .logo > img {
        height: 35px;
    }
}
